---
import Layout from "../layouts/Layout.astro";
import GalleryUI from "../components/Gallery.svelte";
---

<Layout>
    <main>
        <!-- @ts-ignore -->
        <GalleryUI client:only="svelte" />
    </main>
</Layout>

<style>
    main {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background: #111;
    }
</style>
