---
import Layout from "../layouts/Layout.astro";
import GameWrapper from "../components/GameWrapper.svelte";
---

<Layout>
	<main>
		<!-- @ts-ignore -->
		<GameWrapper client:only="svelte" />
	</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background: #000;
	}
</style>
